<h1>{{title}}</h1>
<p>Click button below to save the Class to Google Pay.</p>
<br>
<form action="/postClass" method="post">
    <input type="submit" value="{{OfferClass}}" id="offerClass">
</form>

<br/>

{{#if showGPay }}
<div style="display:inline" id="offersave">
    <g:savetoandroidpay jwt="{{{jwt}}}" onsuccess="successHandler"
        onfailure="failureHandler" size="small" theme="light" ></g:savetoandroidpay>
    <script src="https://apis.google.com/js/plusone.js"/>
</div>
{{/if}}

